<%- include('header.ejs') %>
    <section id="deleteGoal" class="container px-4 pb-5 pt-4" style="background-color:#F9F9F9;">
        <div class="row">
            <div class=" col-12 mt-2">
                <div class="pl-5 row">
                    <div class="pl-5 col row">
                        <div class="col-md-12"></div>
                        <!-- delete goal -->
                        <div class="col-md-5"><a class="fa-solid fa-arrow-left mx-0 px-0 pr-1" href="/createGoals"
                                style="text-decoration: none; color:black"></a>Back</div>
                        <div class='font-weight-light h3'><strong>Delete Goal</strong></div>
                    </div>
                </div>
                <div class="row mx-auto w-50 bg-white rounded shadow-sm p-3">
                    <div class="col mx-auto pb-4">
                        <!-- form -->
                        <form id="deleteGoal" name="deleteGoal" action="/deleteGoal" method="POST">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <label for="formGroupExampleInput">Select a goal to delete:</label>
                                        <select class="form-control" name="goalToDelete" required>
                                            <% goals.forEach((goal) => { %>
                                            <option value="<%= goal._id %>"><%= goal.goal %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mx-auto">
                                <input style="background-color:#98fbca" type="submit" class="btn btn-block shadow-sm" value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('footer.ejs') %>