<div class='container p-2 d-flex justify-content-between>
    <h5 class='text-left mb-0'>Think Wellness</h5>
    <!-- social media icons -->
    <div class='container p-2 d-flex justify-content-end'>
        <!-- social media icons -->
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div> 
    </body>
</html>